%h2.page-title
  %center
    Mednet version. 2.0.
    %small "Golden Hind"
.row
  .col-lg-12
    %section.widget
      %header
        .widget-controls
          = link_to root_path do
            %i.fa.fa-hand-peace-o
        .body.no-margin
          %p
            Закрытый медицинский информационный портал «mednet», создан для работы сотрудников ЛПУ и Министерства здравоохранения Калужской области.
            -#%ul
            -#  Список модулей системы:
            -#  %li
            -#    ВПЧ-скрининг
            -#  %li
            -#    Информационная статистика работы ЕГИСЗ в регионе
            -#  %li
            -#    Календарь задач
            -#  %li
            -#    Форум
            -#  %li
            -#    Банк докуметов (Доступен всем)
          -#%p
          -#  По вопросам добавления новых модулей к Вашему профилю, обращаться к Андрею Сыроежкину
          -#  #{(mail_to  "admin@miac.kaluga.ru", 'email')} или по телефону: 8 (4842) 72-58-06 доб. 45
          -#%p
          -#  %ul
          -#    %h3
          -#      Готовится релиз модулей:
          -#    %li
          -#      "Авто"-парк(Компьютерная техника)

          %p
            По мере обновления системы, будут добавляться новые функции. Следите за новостями на
            #{link_to "официальном сайте МИАЦ Калужской области", 'http://miac.kaluga.ru/'}
