.row
  .col-lg-3.col-lg-push-9
    %h4
      Информация
      %span.fw-semi-bold Форума
    -#%p.text-gray-lighter Listed content is categorized by the following groups:
    %ul.nav.nav-pills.nav-stacked.search-result-categories.mt
      %li
        %a{:href => "#"}
          Открыте обсуждения
          %span.badge.bg-gray.fw-semi-bold 34
      %li
        %a{:href => "#"}
          Закрепленые
          %span.badge.bg-gray.fw-semi-bold 9
      %li
        %a{:href => "#"} Закрытые
      %li
        %a{:href => "#"}
          Все
          %span.badge.bg-gray.fw-semi-bold 18
  .col-lg-9.col-lg-pull-3
    %section.search-result-item
      %a.image-link{:href => "#"}
        -#%img.image.img-circle{:src => "http://www.unizik.edu.ng/images/medical.jpg"}
        = image_tag("http://www.unizik.edu.ng/images/medical.jpg", class: "img-circle image" )
      .search-result-item-body
        .row
          .col-sm-9
            %h3.search-result-item-heading
              %a{:href => "#"} Next generation admin template
            %p
            %p.description
              Not just usual Metro. But something bigger. Not just usual widgets, but real
              widgets. Not just yet another admin template, but next generation admin template.
          .col-sm-3.text-align-center
            .widget-controls
              %a{:href => "#", :title => "Expand"}
                %i.fa.fa-star
              %a{:href => "#", :title => "Collapse"}
                %i.fa.fa-lock
              %a{:href => "#", :title => "Collapse"}
                %i.fa.fa-trash
        .row
          .col-md-2
          .col-md-10
            %p.info
              Updated on November 10, 2015 in No reply yet
              %i.fa.fa-heart-o
                0
              %i.fa.fa-comments
                12
            -#%p.value3.text-gray-dark.mt-sm
            -#  $9, 700
            -#%p.fs-mini.text-muted
            -#  PER WEEK
            -#%a.btn.btn-primary.btn-info.btn-sm{:href => "#"} Learn More
    %section.search-result-item
      .search-result-item-body
        .row
          .col-sm-9
            %h3.search-result-item-heading
              %a{:href => "#"} Next generation admin template
            %p
            %p.description
              Not just usual Metro. But something bigger. Not just usual widgets, but real
              widgets. Not just yet another admin template, but next generation admin template.
          .col-sm-3.text-align-center
            .widget-controls
              %a{:href => "#", :title => "Expand"}
                %i.fa.fa-star
              %a{:href => "#", :title => "Collapse"}
                %i.fa.fa-lock
              %a{:href => "#", :title => "Collapse"}
                %i.fa.fa-trash
        .row
          .col-md-2
          .col-md-10
            %p.info
              Updated on November 10, 2015 in No reply yet
              %i.fa.fa-heart-o
                0
              %i.fa.fa-comments
                12
    %section.search-result-item

      .search-result-item-body
        .row
          .col-sm-9
            %h3.search-result-item-heading
              %a{:href => "#"} Next generation admin template
            %p
            %p.description
              Not just usual Metro. But something bigger. Not just usual widgets, but real
              widgets. Not just yet another admin template, but next generation admin template.
          .col-sm-3.text-align-center
            .widget-controls
              %a{:href => "#", :title => "Expand"}
                %i.fa.fa-star
              %a{:href => "#", :title => "Collapse"}
                %i.fa.fa-lock
              %a{:href => "#", :title => "Collapse"}
                %i.fa.fa-trash
        .row
          .col-md-2
          .col-md-10
            %p.info
              Updated on November 10, 2015 in No reply yet
              %i.fa.fa-heart-o
                0
              %i.fa.fa-comments
                12
    .text-align-center
      %ul.pagination.pagination-sm.pagination-search-result
        %li.disabled
          %a{:href => "#"} Prev
        %li.active
          %a{:href => "#"} 1
        %li
          %a{:href => "#"} 2
        %li
          %a{:href => "#"} 3
        %li
          %a{:href => "#"} 4
        %li
          %a{:href => "#"} 5
        %li
          %a{:href => "#"} Next