

-#%text-center
-#  %h3.page-title
-#    = link_to "Форум", forums_path
-#
-#%br

-if @posts.blank?
  %h5 Ни одна тема не создана
-else
  %table.table.table-bordered.table-lg.mt-lg.mb-0
    %thead
      %tr.info
        %th  Тема
        %th.text-align-center  Ответов
        %th  Последнее обновление

        - if User.find(current_user.id).username == 'admin'
          %th Редакция
          %th Статус
      %tbody

        - @posts.each do |post|
          %tr{:bgcolor => tr_style(post)}
            = render "forums/show", post: post


= will_paginate @posts