= render 'menu'

.jumbotron
  %h1 Навигационное меню
  %p
    шаблон



    -#= link_to "Создать новый кабинет", "", "data-target" => "#modal_office", "data-toggle" => "modal", class: "btn btn-success btn-sm"
